body, h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
}

/*--------------- Layout ---------------*/
.mdl-layout__title {
    font-size: 5rem;
    text-align: center;
    font-weight: bold;
    font-family: 'Stalemate', cursive;
    line-height: 35px;
    font-color: #000000;
}

.portfolio-max-width {
    max-width: 900px;
    margin: auto;
}

main {
    background-color: #F7F7F7;
}

footer {
    background-size: cover;
}

.footer-logo {
    font-family: 'Stalemate', cursive;
    font-size: 2rem;
}

.mdl-mini-footer {
    padding: 15px;
    line-height: 0;
    min-height: 25px;
    max-height: 25px;
    background-color: #525252;
}

.mdl-mini-footer__right-section {
    color: white;
    font-family: 'Stalemate', cursive;
    font-size: 2rem;
    line-height: 35px;
}

/*--------------- Header ---------------*/
.portfolio-header {
    position: relative;
    width: 100%;
    background-color: white;
}

.portfolio-header .mdl-layout__header-row {
    padding: 0;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.mdl-layout__header .mdl-layout__drawer-button {
    background-color: transparent;
    padding: 15px 0;
}

.mdl-layout__header > .flex-column-end {
    flex-direction: column;
    justify-content: flex-end;
}

.portfolio-logo-row {
    min-height: 100px;
    justify-content: flex-end;
}

.portfolio-navigation-row {
    text-transform: uppercase;
    height: 45px;
    background-color: #FCE7EA;
}

.portfolio-navigation-row .mdl-navigation {
    text-align: center;
    max-width: 900px;
    width: 100%;
}

.portfolio-navigation-row .mdl-navigation__link {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    line-height: 42px;
}

/*--------------- Cards ---------------*/
.mdl-card__supporting-text {
    display: flex;
    flex-grow: 1;
}

.portfolio-description {
    flex-grow: 1;
    padding-top: 5px;
}

.mdl-card__title {
    background-color: #FAD1D6;
}

.card-title {
    font-family: 'Didact Gothic', sans-serif;
    font-size: 1.7rem;
    margin-left: 15px;
}

.text-card-top {
    padding: 10px 16px 3px 16px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-card-title {
    font-family: 'Didact Gothic', sans-serif;
    font-size: 1.7rem;
}

.clear-card-subtext {
    color: rgba(0,0,0,.54);
}

.bottom-line {
    border-bottom: 2px solid rgb(230, 230, 230);
    margin-bottom: 7px;
}

.icon-margin {
    margin-top: 3px;
}

/*--------------- Text ---------------*/
a {
    text-decoration: none;
}

p {
    font-size: 16px;
}

h6 {
    font-size: 1.5rem;
}

code {
    background-color: rgb(230, 230, 230);
    border: 1px solid #C1C1C1;
    border-radius: 3px;
    padding: 2px;
    font-size: 14px;
}

.font-styled {
    font-family: 'Stalemate', cursive;
}

.emphasize {
    font-size: 16px;
    font-weight: bold;
    padding: 3px 0;
}

.subtext {
    font-size: 0.9rem;
    text-transform: uppercase;
    opacity: 0.75;
}

.script-title {
    font-family: 'Stalemate', cursive;
    font-size: 4rem;
    padding-top: 2.5rem;
    z-index: 2;
    display: flex;
    justify-content: center;
}

.center-text {
    text-align: center;
}

.icon-button {
    font-size: 2rem;
}

.color-pink {
    color: #FAD1D6;
}

.color-black {
    color: #000000;
}

/*--------------- Blog ---------------*/
.mdl-chip {
    font-family: 'Lato', sans-serif;
    background-color: #FCE7EA;
}

/*--------------- Contact ---------------*/
.portfolio-contact .mdl-textfield {
    width: 100%;
}

.portfolio-contact form {
    max-width: 550px;
    margin: auto;
}

/*--------------- Others ---------------*/
.max-width {
    width: 100%;
}

.flex {
    display: flex;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.space-between {
    justify-content: space-between;
}

.flex-column {
    flex-direction: column;
}

.button-left {
    margin-left: -16px;
}

.no-top-padding {
    padding-top: 0;
}

.negative-bottom-margin {
    margin-bottom: -5px;
}

.z0 {
    z-index: 0;
}

.z1 {
    z-index: 1;
}

.padding-top {
    padding: 10px 0 0;
}

.float-right {
    float: right;
}

.margin-side {
    margin: 0 5px;
}

.margin-side-large {
    margin: 0 24px;
}

/*--------------- Unused (but may be useful in the future) ---------------*/
.portfolio-navigation-row .is-active {
    position: relative;
    font-weight: bold;
}

.portfolio-navigation-row .is-active:after {
    content: "";
    width: 70%;
    height: 2px;
    display: block;
    position: absolute;
    bottom: 0;
    background-color: rgb(255,64,129);
}

img.article-image {
    width: 100%;
    height: auto;
}