/*--------------- Layout ---------------*/
.mdl-layout__title {
    font-size: 5rem;
    text-align: center;
    font-weight: bold;
    font-family: 'Stalemate', cursive;
    line-height: 35px;
}

.portfolio-max-width {
    max-width: 900px;
    margin: auto;
}

main {
    background-color: #C1C1C1;
}

footer {
    background-size: cover;
}

.footer-logo {
    font-family: 'Stalemate', cursive;
    font-size: 2rem;
}

.mdl-mini-footer {
    padding: 15px;
    line-height: 0;
    min-height: 25px;
    max-height: 25px;
}

.mdl-mini-footer__right-section {
    color: white;
    font-family: 'Stalemate', cursive;
    font-size: 2rem;
    line-height: 35px;
}

/*--------------- Header ---------------*/
.portfolio-header {
    position: relative;
    width: 100%;
    background-color: white;
}

.portfolio-header .mdl-layout__header-row {
    padding: 0;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.mdl-layout__header .mdl-layout__drawer-button {
    background-color: transparent;
    padding: 15px 0;
}

.mdl-layout__header > .flex-column-end {
    flex-direction: column;
    justify-content: flex-end;
}

.portfolio-logo {
    background-size: cover;
    height: 150px;
    width: 150px;
    margin: auto auto 10px;
}

.portfolio-navigation-row {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    text-transform: uppercase;
    height: 45px;
    background-color: rgb(230, 230, 230);
}

.portfolio-navigation-row .mdl-navigation {
    text-align: center;
    max-width: 900px;
    width: 100%;
}

.portfolio-navigation-row .mdl-navigation__link {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    line-height: 42px;
}

/*--------------- Header (currently unused) ---------------*/
.portfolio-navigation-row .is-active {
    position: relative;
    font-weight: bold;
}

.portfolio-navigation-row .is-active:after {
    content: "";
    width: 70%;
    height: 2px;
    display: block;
    position: absolute;
    bottom: 0;
    /*left: 0;*/
    background-color: rgb(255,64,129);
    /*left: 15%;*/
}

/*--------------- Cards ---------------*/
.mdl-card__supporting-text {
    display: flex;
    flex-grow: 1;
}

.portfolio-card .mdl-card__title {
    padding-bottom: 0;
}

.portfolio-copy {
    max-width: 90%;
    padding: 0 25px;
}

.portfolio-description {
    flex-grow: 1;
    padding-top: 5px;
}

.portfolio-blog-card-compact .mdl-card__title {
    padding-bottom: 0;
}

.portfolio-blog-card-bg > .mdl-card__actions {
    height: 52px;
    padding: 16px;
    background: rgba(0, 0, 0, 0.2);
}

img.article-image {
    width: 100%;
    height: auto;
}

.mdl-card__title {
    background-color: rgb(244, 187, 194);
}

.card-title {
    font-family: 'Stalemate', cursive;
    font-size: 3rem;
    margin: 0 0 -10px 15px;
}

.small-card-title {
    padding: 5px 0 0 0;
}

/*--------------- Text ---------------*/
a {
    text-decoration: none;
}

p {
    font-size: 1rem;
}

h6 {
    font-family: 'Rokkitt', serif;
    font-size: 1.5rem;
}

code {
    background-color: rgb(230, 230, 230);
    padding: 5px;
}

.emphasize {
    font-weight: bold;
    padding: 3px 0;
}

.subtext {
    font-size: 0.8rem;
    text-transform: uppercase;
    padding: 3px 0;
    opacity: 0.7;
}

.keywords {
    background-color: rgb(159, 159, 159);
    color: white;
    border-radius: 5px;
    padding: 3px 5px;
}

.center-text {
    text-align: center;
}

.icon-button {
    font-size: 2rem;
}

/*--------------- Contact ---------------*/
.portfolio-contact .mdl-textfield {
    width: 100%;
}

.portfolio-contact form {
    max-width: 550px;
    margin: auto;
}

/*--------------- Others ---------------*/
.flex-column {
    flex-direction: column;
}

.portfolio-logo-row {
    min-height: 100px;
    justify-content: flex-end;
}

.no-padding {
    padding: 0;
}

.no-left-padding{
    padding-left: 0;
}

.no-bottom-padding {
    padding-bottom: 0;
}

.padding-top {
    padding: 10px 0 0;
}

.float-right {
    float: right;
}