---
layout: default
title: "Hi there!"
---

<div class="mdl-cell mdl-cell--10-col mdl-cell--1-offset mdl-card mdl-shadow--4dp">
    <div class="mdl-card__title">
        <div class="card-title"> {{ page.title }} </div>
    </div>
    <div class="mdl-grid mdl-card__supporting-text">
        <div class="padding-top">
            <p>
                I’m Rachel. I'm a salsa and west coast swing dancer :dancer:.
            </p>
            <p>
                But you're probably more interested in my work. I'm a software developer with professional experience in web development,
                data integrations, and data visualization most recently on a Microsoft stack.
                Most of my day job involves working with
                    {% include chip.html name="Angular" %}
                    {% include chip.html name="C#" %}
                    {% include chip.html name="SQL" %}
                , but I also spend my free time experimenting with game development using Unity.
            </p>
            <p>
                PS. The chips (little pink circles throughout the site) are clickable, so feel free to snoop around and check the work I've done on your technology of choice.
            </p>
        </div>
    </div>
    <div class="mdl-card__actions mdl-card--border center-text">
        <a href="https://www.linkedin.com/in/rachelvmadrigal" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon margin-side-large"><i class="fa fa-linkedin-square icon-button icon-margin" aria-hidden="true"></i></a>
        <a href="https://github.com/rachelmad" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon margin-side-large"><i class="fa fa-github icon-button icon-margin" aria-hidden="true"></i></a>
    </div>
</div>
