---
layout: large_card
title: "Hi there!"
---

<div class="padding-top">
    <p>
        I’m Rachel, I do calligraphy, ballroom dancing, and indoor skydiving.
    </p>
    <p>
        More importantly, I'm a software developer based in Houston, Texas, where I do full stack web development at National Oilwell Varco. 
        I'm currently obsessing over the many JavaScript frameworks like Ionic 2 and React during my free time. However, most of my day job involves working with 
        	{% include chip.html name="Angular 2" %}
        	{% include chip.html name="TypeScript" %}
        	{% include chip.html name="C#" %}
    </p>
    <p>
    	PS. The chips (little gray circles) are clickable, so feel free to snoop around and check the work I've done on your technology of choice. 
	</p>
</div>
