{% assign post = include.post_content %}
<div class="mdl-cell mdl-cell--4-col">
    <div class="emphasize"> {{ include.important }}</div>
    {% if include.sub %}
    	<div class="subtext"> {{ include.sub }}:</div>
	{% endif %}
    <div class="subtext"> {{ post.display_date }}</div>
</div>
<div class="mdl-cell mdl-cell--8-col">
	{% if post.tags %}
    	{% for tag in post.tags %}
	        {% include chip.html name=tag %}
	    {% endfor %}
	{% endif %}
    {% if include.sub2 %}
    	<div class="emphasize"> {{ include.sub2 }}</div>
	{% endif %}
	{% if include.sub3 %}
    	<div class="subtext"> {{ include.sub3 }}</div>
	{% endif %}
    <div class="portfolio-description">

        {{ post.excerpt }}

    </div>
</div>
