<footer class="mdl-mini-footer">
    <div class="mdl-mini-footer__left-section">
        <div class="mdl-logo footer-logo">Rachel V. Madrigal</div>
    </div>
    <div class="mdl-mini-footer__right-section">
        <span class="font-styled margin-side">rachelvmadrigal@gmail.com</span>
        <a href="https://www.linkedin.com/in/rachelvmadrigal"><i class="fa fa-linkedin-square margin-side color-white" aria-hidden="true"></i></a>
        <a href="https://github.com/rachelmad"><i class="fa fa-github margin-side color-white" aria-hidden="true"></i></a>
    </div>
</footer>