<header class="mdl-layout__header mdl-layout--fixed-header portfolio-header">
    <div class="mdl-layout__header-row portfolio-logo-row flex-column-end">
            <span class="mdl-layout__title">
                <a href="/" class="color-black">Rachel V. Madrigal</a>
            </span>
    </div>
    <div class="mdl-layout__header-row portfolio-navigation-row">
        <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
            <a class="mdl-navigation__link" href="/">About</a>
            <a class="mdl-navigation__link" href="/experience">Experience</a>
            <a class="mdl-navigation__link" href="/projects">Projects</a>
            <a class="mdl-navigation__link" href="/blog">Blog</a>
            <a class="mdl-navigation__link" href="/contact">Contact</a>
        </nav>
    </div>
</header>