---
layout: large_card
---

<div>Work</div>
{% for post in site.tags.work_experience %}
<div class="mdl-cell mdl-cell--8-col mdl-card__supporting-text no-padding ">
    <h2 class="mdl-card__title-text"> {{ post.title }}</h2>
    <div> {{ post.company }} </div>
    <div> {{ post.display_date }} </div>
    <div> {{ post.tools }} </div>
    <div class="portfolio-description">

        {{ post.excerpt }}

    </div>
</div>
{% endfor %}

<div>Education</div>
{% for post in site.tags.education %}
<div class="mdl-cell mdl-cell--8-col mdl-card__supporting-text no-padding ">
    <h2 class="mdl-card__title-text"> {{ post.title }}</h2>
    <div> {{ post.company }} </div>
    <div> {{ post.display_date }} </div>
    <div> {{ post.tools }} </div>
    <div class="portfolio-description">

        {{ post.excerpt }}

    </div>
</div>
{% endfor %}

