---
layout: default
---

<div class="mdl-cell mdl-cell--10-col mdl-cell--1-offset mdl-card mdl-shadow--4dp">
    <div class="mdl-card__title text-card-top">
        <div class="text-card-title">{{ page.title }}</div>
        <div class="subtext clear-card-subtext">{{ page.date | date: '%d %B %Y' }}</div>
    </div>

    <div class="mdl-grid mdl-card__supporting-text">
        <div class="blog-details">
            {% for tag in page.tags %}
                {% include chip.html name=tag %}
<!--                 <a href="/tagged/{{ tag }}">
                    <span class="mdl-chip">
                        <span class="mdl-chip__text">{{ tag }}</span>
                    </span>
                </a> -->
            {% endfor %}
<!--             <div class="subtext flex1">
                <span class="keywords"> {{ page.tools }} </span>
            </div> -->
        </div>
        <div class="portfolio-description">

            {{ page.content }}

        </div>

    </div>
</div>