<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Projects by Rachel Madrigal">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

    <title> {{ page.title }} </title>
    <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.grey-pink.min.css"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto|Stalemate" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://use.fontawesome.com/4dde453932.js"></script>

    <link rel="stylesheet" href="../css/styles.css"/>
    <!--<link rel="stylesheet" href="../css/syntax.css"/>-->
</head>

<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header mdl-layout--fixed-header portfolio-header">
        <div class="mdl-layout__header-row portfolio-logo-row flex-column-end">
            <span class="mdl-layout__title">
                Rachel V. Madrigal
            </span>
        </div>
        <div class="mdl-layout__header-row portfolio-navigation-row">
            <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
                <a class="mdl-navigation__link" href="/">About</a>
                <a class="mdl-navigation__link" href="/experience">Experience</a>
                <a class="mdl-navigation__link" href="/projects">Projects</a>
                <a class="mdl-navigation__link" href="/blog">Blog</a>
                <a class="mdl-navigation__link" href="/contact">Contact</a>
            </nav>
        </div>
    </header>
    <div class="mdl-layout__drawer">
        <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
            <a class="mdl-navigation__link" href="/">About</a>
            <a class="mdl-navigation__link" href="/experience">Experience</a>
            <a class="mdl-navigation__link" href="/projects">Projects</a>
            <a class="mdl-navigation__link" href="/blog">Blog</a>
            <a class="mdl-navigation__link" href="/contact">Contact</a>
        </nav>
    </div>
    <main class="mdl-layout__content">
        <div class="mdl-grid portfolio-max-width">

            {{ content }}

        </div>
    </main>
    <footer class="mdl-mini-footer">
        <div class="mdl-mini-footer__left-section">
            <div class="mdl-logo footer-logo">Rachel V. Madrigal</div>
        </div>
        <div class="mdl-mini-footer__right-section">
            <span>rachelvmadrigal@gmail.com</span>
        </div>
    </footer>
</div>
<script src="https://code.getmdl.io/1.1.3/material.min.js"></script>
</body>

</html>

